@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*, body, .tooltip, .popover{
    font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Varela Round', sans-serif;
}
/* =================== */
/* NAV TOP*/
/* =================== */
.navbar{
    background: #252d3d;
}
.topnav .navbar-brand img {
    height: 3rem;
}
.navbar .btn{
    background: transparent !important;
    color: #fff !important;
}
.navbar .btn:hover{
    background: #08426a !important;
    color: #fff !important;
    border: 1px solid #666 !important;
}
.navbar .btn:focus{
    box-shadow: 0 0 0 0.2rem rgb(102 102 102 / 35%);
}
.dropdown-notifications .dropdown-menu .dropdown-notifications-header {
    background-color: #08426a;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #252d3d;
    border-color: #252d3d;
    text-decoration: none;
}
.dropdown-item.hover, .dropdown-item:hover {
    color: #fff;
    background-color: #08426a;
    border-color: #08426a;
    text-decoration: none;
}
/* =================== */
/* SIDEBAR */
/* =================== */
.bg-sidebar {
    background-color: #08426a;
}
.nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav {
    padding-top: 4.625rem;
}
a.nav-link{
    color: #f1f1f1;
}
.sidenav-footer-content{
  color: #f1f1f1;
}
/* =================== */
/* CONTENT*/
/* =================== */
.bg-content {
    background-color: #666;
}
    /*btn*/
    .btn-primary {
        color: #fff;
        background-color: #08426a;
        border-color: #08426a;
    }
    .btn-primary:hover {
        color: #fff;
        background-color: #252d3d;
        border-color: #252d3d;
    }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #252d3d;
        border-color: #252d3d;
    }
    .btn-primary:focus, .btn-primary.focus {
        color: #fff;
        background-color: #252d3d;
        border-color: #252d3d;
        box-shadow: 0 0 0 0.2rem rgb(38 73 244 / 50%);
    }
    .btn-outline-blue {
        color: #08426a;
        border-color: #08426a;
    }
    .btn-outline-blue:hover {
        color: #fff;
        background-color: #08426a;
        border-color: #08426a;
    }
    .btn-outline-blue:not(:disabled):not(.disabled):active, .btn-outline-blue:not(:disabled):not(.disabled).active, .show > .btn-outline-blue.dropdown-toggle {
        color: #fff;
        background-color: #08426a;
        border-color: #08426a;
    }
    .btn-outline-blue:focus, .btn-outline-blue.focus {
        box-shadow: 0 0 0 0.2rem rgb(8 66 106 / 42%);
    }
   /*Card*/
   .card:not([class*=bg-]) .card-header {
        color: #08426a;
    }
    /*Table*/
    .datatable table.dataTable thead, .datatable table.dataTable tfoot {
        color: #08426a;
    }
    .datatable table.dataTable thead .sorting_asc [data-fa-pseudo-element=":after"], .datatable table.dataTable thead .sorting_desc [data-fa-pseudo-element=":after"], .datatable table.dataTable thead .sorting_asc_disabled [data-fa-pseudo-element=":after"], .datatable table.dataTable thead .sorting_desc_disabled [data-fa-pseudo-element=":after"] {
        color: #08426a;
    }
    .custom-select:focus {
        border-color: #156DAA;
        outline: 0;
        box-shadow: 0 0 0 0.0625rem rgba(0, 97, 242, 0.25);
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #08426a;
        border-color: #08426a;
    }
    .page-link {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #08426a;
        background-color: #fff;
        border: 1px solid #d7dce3;
    }
    .page-link:hover {
        z-index: 2;
        color: #08426a;
        text-decoration: none;
        background-color: #e3e6ec;
        border-color: #d7dce3;
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #08426a;
        border-color: #08426a;
    }
    .dataTables_wrapper .row:nth-child(2){
        overflow: auto;
    }
.profile-user-img{
  width: 10rem;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
.invalid-feedback {
    font-weight: 300;
    color: #fb3926;
}
