*{
    font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
}
/*  -- HEADER -- */
.bg-gradient-primary-to-secondary {
    background-color: #08426a;
    background-image: linear-gradient(135deg, #08426a 0%, rgb(16, 106, 169) 100%);
}
.page-header {
    padding-top: 0;
}

/*  -- NAV -- */
.navbar{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175) !important;
    background: #08426a !important;
}
.navbar-index {
    box-shadow: none !important;
    background: transparent !important;
}
.navbar-marketing.navbar-dark.navbar-scrolled {
    background-color: #08426a !important;
}
.navbar-marketing .navbar-brand img {
    height: 3rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #ffe22b;
}
.navbar-toggler i{
  color: #fff;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #105c90 !important;
    border-color: #1074b9 !important;
}
a.nav-link:hover, a.navbar-brand:hover {
    background-color: transparent !important;
    border-color: none !important;
    color: #ffe22b !important;
}
a.nav-link, a.navbar-brand {
    background-color: transparent !important;
    color: #fff !important;
    outline: none;
    text-decoration: none;
}
.mb-2 a:hover, a.icon-list-social-link:hover{
    color: inherit !important;
    background-color: inherit !important;
}
/*  -- SECTION -- */
.bg-login-image{
    background: url("/img/bg-login.png");
    background-position: center;
    background-size: cover;
}
.error {
    color: #e30059;
    font-size: 0.875em;
}
.btn-primary {
    color: #fff;
    background-color: #08426a;
    border-color: #1074b9;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(8, 66, 106, 0.51);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #105c90;
    border-color: #1074b9;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #105c90;
    border-color: #1074b9;
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #105c90;
    border-color: #1074b9;
    box-shadow: 0 0 0 0.2rem rgba(8, 66, 106, 0.51);
}
.btn-primary:hover {
    color: #fff;
    background-color: #105c90;
    border-color: #1074b9;
}
.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* FORM DE PQRS */
@media (min-width: 720px){
.padding-form {
    padding: 0 30px;
}}
@media (max-width: 500px){
.padding-card {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;}

}

.caja:first-child {
order: 1;
}
.caja:nth-child(2) {
order: 2;
}

@media (max-width: 850px) {
.contenedor {
flex-direction: column;
}
.caja:first-child {
order: 2;
}
.caja:nth-child(2) {
order: 1;
}
}

.tip{
    color: #666666;
}
#cke_description{
    color: #687281;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3e6ec;
    border-radius: 0.35rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
    overflow: auto;

}

/*  -- FOOTER -- */
#layoutDefault_footer{
    padding-top: 45px;
}
.text-dark, .page-header-light .btn-link {
    color: #666666 !important;
}
.bg-dark {
    background-color: #666666 !important;
}
.footer.footer-dark {
    color: rgba(255, 255, 255, 0.78);
}
